APP_NAME=NewTemplates
APP_ENV=local
APP_KEY=base64:XXwej8Q/fRH5UNnruko2vABcpEY/ElirIVfhchDM0bA=
APP_DEBUG=false
APP_URL=https://panel.craftyartapp.com/new_template
MEDIA_URL=https://media.craftyartapp.com/
FONT_API=https://panel.craftyartapp.com/font_panel/api/V3/getAll

FILE_VAULT_KEY=U8FzroOkTgxLqFK7a^ZnMeXrgKkY%&hq

DOWNLOAD_KEY=devkrushna
USER_AGENT=devkrushna

CACHE_VER=0

LOG_CHANNEL=stack
LOG_LEVEL=debug

STORAGE_URL=https://media.craftyartapp.com/

COSMO_FEED_BASE_URL=https://prod.api.cosmofeed.com
COSMO_FEED_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2NDRjYzU5Y2QxYjAyMTAwMmJjOTA4MWUiLCJkaXNwbGF5TmFtZSI6IkRpZ2l0YWwgQnVzaW5lc3MgQ2FyZCIsInVzZXJuYW1lIjoiYnJhbmRiYWJhIiwiaWF0IjoxNzYzODY3NjczLCJleHAiOjIwNzkyMjc2NzN9.OyuPru2dkk_JLpk3VNoemZGTqZI79zH9w5lmEerQyrg

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=crafty_db
DB_USERNAME=root
DB_PASSWORD=

CRAFTY_VIDEO_DB_CONNECTION=mysql
CRAFTY_VIDEO_DB_HOST=localhost
CRAFTY_VIDEO_DB_PORT=3306
CRAFTY_VIDEO_DB_DATABASE=crafty_video_db
CRAFTY_VIDEO_DB_USERNAME=root
CRAFTY_VIDEO_DB_PASSWORD=

CUSTOM_ORDER_DB_CONNECTION=mysql
CUSTOM_ORDER_DB_HOST=localhost
CUSTOM_ORDER_DB_PORT=3306
CUSTOM_ORDER_DB_DATABASE=custom_order_db
CUSTOM_ORDER_DB_USERNAME=root
CUSTOM_ORDER_DB_PASSWORD=

BRAND_KIT_DB_CONNECTION=mysql
BRAND_KIT_DB_HOST=localhost
BRAND_KIT_DB_PORT=3306
BRAND_KIT_DB_DATABASE=brand_kit_db
BRAND_KIT_DB_USERNAME=root
BRAND_KIT_DB_PASSWORD=

SPECIAL_PAGE_DB_CONNECTION=mysql
SPECIAL_PAGE_DB_HOST=localhost
SPECIAL_PAGE_DB_PORT=3306
SPECIAL_PAGE_DB_DATABASE=crafty_pages
SPECIAL_PAGE_DB_USERNAME=root
SPECIAL_PAGE_DB_PASSWORD=

CRAFTY_AUTOMATION_DB_CONNECTION=mysql
CRAFTY_AUTOMATION_DB_HOST=localhost
CRAFTY_AUTOMATION_DB_PORT=3306
CRAFTY_AUTOMATION_DB_DATABASE=crafty_automation
CRAFTY_AUTOMATION_DB_USERNAME=root
CRAFTY_AUTOMATION_DB_PASSWORD=

CARICATURE_DB_CONNECTION=mysql
CARICATURE_DB_HOST=localhost
CARICATURE_DB_PORT=3306
CARICATURE_DB_DATABASE=crafty_caricature
CARICATURE_DB_USERNAME=root
CARICATURE_DB_PASSWORD=

AI_DB_CONNECTION=mysql
AI_DB_HOST=localhost
AI_DB_PORT=3306
AI_DB_DATABASE=crafty_ai
AI_DB_USERNAME=root
AI_DB_PASSWORD=

CRAFTY_PRICING_DB_CONNECTION=mysql
CRAFTY_PRICING_DB_HOST=localhost
CRAFTY_PRICING_DB_PORT=3306
CRAFTY_PRICING_DB_DATABASE=crafty_pricing
CRAFTY_PRICING_DB_USERNAME=root
CRAFTY_PRICING_DB_PASSWORD=

CRAFTY_REVENUE_DB_CONNECTION=mysql
CRAFTY_REVENUE_DB_HOST=localhost
CRAFTY_REVENUE_DB_PORT=3306
CRAFTY_REVENUE_DB_DATABASE=crafty_revenue
CRAFTY_REVENUE_DB_USERNAME=root
CRAFTY_REVENUE_DB_PASSWORD=

CRAFTY_VENDOR_DB_CONNECTION=mysql
CRAFTY_VENDOR_DB_HOST=localhost
CRAFTY_VENDOR_DB_PORT=3306
CRAFTY_VENDOR_DB_DATABASE=crafty_vendor
CRAFTY_VENDOR_DB_USERNAME=root
CRAFTY_VENDOR_DB_PASSWORD=

CRAFTY_CREATOR_DB_CONNECTION=mysql
CRAFTY_CREATOR_DB_HOST=localhost
CRAFTY_CREATOR_DB_PORT=3306
CRAFTY_CREATOR_DB_DATABASE=crafty_creator
CRAFTY_CREATOR_DB_USERNAME=root
CRAFTY_CREATOR_DB_PASSWORD=

CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET=
CLOUDFLARE_R2_ENDPOINT=
CLOUDFLARE_R2_URL=

GCS_PROJECT_ID=
GCS_BUCKET=
GCS_KEY_FILE=

ONE_SIGNAL_APP_ID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
ONE_SIGNAL_AUTHORIZE=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ONE_SIGNAL_AUTH_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

CACHE_DRIVER=redis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

BROADCAST_DRIVER=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1


#MAIL_MAILER=smtp
#MAIL_HOST=smtp.hostinger.com
#MAIL_PORT=587
#MAIL_USERNAME=support@craftyartapp.com
#MAIL_PASSWORD=/gH/ZJN9
#MAIL_ENCRYPTION=tls
#MAIL_FROM_ADDRESS=support@craftyartapp.com
#MAIL_FROM_NAME=CraftyArt

MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=587
MAIL_USERNAME=noreply@craftyart.in
MAIL_PASSWORD=/gH/ZJN9
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@craftyart.in
MAIL_FROM_NAME=CraftyArt

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=local
PUSHER_APP_KEY=localkey
PUSHER_APP_SECRET=localsecret

PUSHER_HOST=127.0.0.1
PUSHER_PORT=6002
PUSHER_SCHEME=http
PUSHER_APP_CLUSTER=mt1
LARAVEL_WEBSOCKETS_PORT=6002

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

STRIPE_SECRET_KEY=your_stripe_secret_key
RAZORPAY_PUBLISHABLE_KEY=your_razorpay_publishable_key
RAZORPAY_SECRET_KEY=your_razorpay_secret_key
RAZORPAY_PUBLISHABLE_KEY_2=your_razorpay_publishable_key_2
RAZORPAY_SECRET_KEY_2=your_razorpay_secret_key_2
